
<h2> Thank you - </h2>
<%= @order.full_name %> <br> 

<h3> Your order is getting delivered to: </h3>
<%= @order.address %> <br> 

<h3> Your order will contain: </h3>
 <%= @order.quantity %> x <%= @order.size %> 


