<!DOCTYPE html>
<html>
<head>
  <title>Shoos</title>
  <link rel="stylesheet" type="text/css" href="/style.css">
  <link href="https://fonts.googleapis.com/css?family=Cookie" rel="stylesheet">
</head>
<body>
<h1>Bubbles loves shoes </h1>
<img src="https://media.giphy.com/media/ycagKBYEmaili/giphy.gif" style="width:304px;height:228px;">
<%= yield %> 
</body>
</html>